/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./styles/globals.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
:root {
  --background: #f9fafb;
  --foreground: #171717;
}

html {
  font-size: 16px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "NanumSquare", sans-serif;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 13px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./styles/layout.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.layout_container__jQ1_H {
  width: 100%;
  margin: 0 auto;

  & nav {
    width: 100%;
    height: calc(5vw + 2vh);
    max-height: 58px;
    min-height: 45px;
    background-color: #ffffff;
    border-bottom: 1px solid #e2e8f0;
    padding: 0 2vw;

    & > div {
      max-width: 1000px;
      margin: 0 auto;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    & img {
      height: 80%;
      width: auto;
      cursor: pointer;
    }
  }
}

